BOT_TOKEN=123
OWNER_ID=123
WORK_CHAT_ID=123
OPENROUTER_API_KEY=123
AI_MODEL=free
AI_MAX_INPUT_CHARS=1000
AI_REQUEST_TIMEOUT_SEC=45
DB_PATH=data/shifts.db
LOG_DIR=logs
BOT_TIMEZONE=Europe/Moscow
SHIFT_OPEN_TIME=11:00
SHIFT_CLOSE_TIME=22:00
